@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=Shippori+Antique+B1&display=swap');


html, body {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Quicksand', sans-serif;
}


.right{
    text-align: right;
}

button, input, optgroup, select, textarea { 
 
    font: inherit;
    margin: 0px;
}


h3 {
    margin: 1.9rem 0;
}

h4{
    margin: 1.52rem 0;
}



h6{
    margin-top:0;
    font-weight: bold;
}

p{
    font-size: 1rem;

}


.edit-btn{
    margin-top:1rem;
}


.back-btn{
    font-size: 3rem;
    padding: 1rem 2rem;
    background-color: transparent;
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
    color: #000;
}

.btn-groups{
    margin-bottom: 1rem;
}

button.loadMoreReview{
    margin: 1.5rem 0;
}

span.badge{
    margin:0;
    font-size: 1.3rem;
    color: #000;
    
}

.btn-floating.btn-small{
    margin-left:.5rem;
}

.back-btn:focus, .back-btn:hover{
    background-color: transparent;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.book-btn{
    margin-top: 1.5rem;
}

.btn-small{
    margin: .3rem;
}

/* //////////////////////////////// Navbar and header box /////////////////////////////////// */
.nav-wrapper {
    background-color: #92a27e;
  
}
.prof-pic{
    margin-top: 1rem;
}

nav ul a {
    font-size: 1.2rem;
    font-family: 'Shippori Antique B1', sans-serif;
}


.header-box {
    height: 30vh;
    background-image: url(../images/b74860e4d6a3132672c01eb04ce9eb82.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-color: rgb(250, 250, 240);
    overflow: hidden;
    display: table;
    margin: 0 auto;
    width: 100vw;
}


.header-content{
  display: table-cell;
  vertical-align: middle;
  
}



.header-box > div{
    background-color: rgba(250, 250, 240, .2);
    height: 30vh;
    width: 100%;
}



.search-form {
    /* position: absolute;
    top: 2.5rem;
    right: 3rem; */
    width: 20%;
    border: 1px solid rgba(143, 143, 142, 0.5);
    border-radius: 20px;
}


input[type=search]:not(.browser-default){
    border-bottom: none;
    background-color: #fff;

}

.search-form input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom: none;
    box-shadow: none;
}

.search-form input[type=text]:not(.browser-default){
    background-color:ivory;
    border-radius: 20px;
    height: 100%;
    width: 80%;
    font-size: inherit;
    padding-left: 1rem;
}
    



input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px ivory inset !important;
    -webkit-box-shadow: 0 0 0 30px ivory inset !important;
}


input:-internal-autofill-selected{
    background-color: ivory
    !important;
}

::placeholder {
    text-align: left;
    padding-left: .5rem;
}


/* .fa-search {
    padding-right: 5px;
    line-height: 3;
} */

nav .nav-wrapper i{
    line-height: inherit;
}

/* //////////////////////////////// Collection-bar /////////////////////////////////// */

ul.collection-bar li{
    display: inline-block;
    vertical-align: middle;
    text-align: center;

}
.try {
    color: black;
}

.collection-bar{
    text-align: center;
    list-style: none;
    display: block;  
    margin: 0 auto;
    background-color: #e38450;
    border: 1px solid transparent;
    border-radius: 15px;
    margin: 1.5em 4em 1.5em 4em;
    padding: 1em;

}

/* The hover effect is borrowed from  [http://ianlunn.github.io/Hover/]*/
ul.collection-bar li a{
    color: #fff;
    font-weight: bold;
    padding: 0 1rem;
    font-size: 1.2rem;
    display: inline-block;
    /* -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform; */
}


ul.collection-bar li a:hover,ul.collection-bar li a:active,ul.collection-bar li a:focus {
    /* -webkit-transform: scale(1.1); */
    /* transform: scale(1.1); */
    color: #000;
}

ul:not(.browser-default).collection{
    padding-left: 0;
}


/* //////////////////////////////// Book cards /////////////////////////////////// */
ul.ul-books:not(.browser-default){
    padding-left: 1rem;
}


.ul-books{
    text-align: justify;
    list-style: none;
    padding: 1rem;   
    width: 100%;
    display: block;  
}

.ul-books li{
    display: inline-block;
    margin: 10px 5px 0 5px;
    vertical-align: top;

}

.card .card-content{
    padding: .9rem;
}

.card.small {
width: 14.2rem;
height: 29rem;
margin: .7rem auto;
}

.card .card-image > img{
    
    max-height: 19rem;
    max-width: 14.2rem;
    min-height: 19rem;
    min-width: 14.2rem;
}

.card.small .card-image{
    max-height: 90%;
}


.card .card-action{
border-top: 1px solid rgba(143, 143, 142, 0.4);
}



.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
    color: #000;
   
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: blue;
    -webkit-transition: color .4s ease;
    transition: color .3 ease;
}

/* The fadeIn effect is learned from this article (https://stackoverflow.com/questions/54384218/fade-in-effect-for-div-without-id) */

.book-card {
    opacity: 0;
    transition: opacity 0.35s ease-in;
    display: inline-block;

  }
  
  .book-card.show {
    opacity: 1;
  }


/* //////////////////////////////// forms /////////////////////////////////// */
.card.large .card-image.register-bg{
    max-height: 100%;
}

.edit-profile-form input[type=text]:not(.browser-default),
.edit-profile-form input[type=email]:not(.browser-default),
.edit-profile-form input[type=password]:not(.browser-default),
.add-book-form input[type=email]:not(.browser-default),
.add-book-form input[type=text]:not(.browser-default),
.add-book-form input[type=checkbox]:not(.browser-default)
{
    border: 1px solid rgba(143, 143, 142, 0.5);
    border-radius: 10px;
    height: 3rem;
    padding-left: .7rem;
    
}

.edit-profile-form{
    margin: 2rem 0;
}


.search-form input[type=text]:not(.browser-default){
    border-bottom: none;
    position: relative;
    top: -8px;
}

.search-form.input-field{
    position: relative;
    top: 8px;
    background-color: ivory;
    max-height: 50px;
    
}

.search-form.input-field input::placeholder{
color: rgb(67, 67, 67);
}

.row .col .search-box{
    margin-left: 2.5rem;
}



.edit-profile-form .input-field .prefix ~ label{
    margin-left: 2.4rem;
    padding-left: .7rem;
    padding-top: .5rem;

}

textarea{
    height: 8rem;
    border: 1px solid rgba(143, 143, 142, 0.5);
    border-radius: 10px;
    background-color: #fff;
   
}    


.edit-profile-form .input-field .prefix ~ input{
    padding-left: .7rem;
}


.register-bg{
    width: 100%;
    height: 100%;
    background-image: url(../images/cacb57af3c6b8be1e5d206d203cee7b1.jpg);
    background-size:cover;
}

.form .input-field{
    margin-top: 0;
    margin-bottom: 0;
  

}

.form input[type=text]:not(.browser-default),
.form input[type=password]:not(.browser-default),
.form input[type=email]:not(.browser-default){
    border-bottom:1px solid rgba(160, 156, 156, 0.5);
}


form > .row{
    margin: 1rem;
    
}

.form-error{
    color: tomato;
    padding-left: 2.3rem;
}


.input-field .prefix{
    font-size: 1.5rem;
    top: 1rem;
}


.btn-large i{
    font-size: 1.3rem;
    line-height: normal;
}

.flashes h4{
    line-height: 1;
    margin-bottom: 0;
    margin-top: 1.5;
    padding: 1rem;
    
}


.input-field>label:not(.label-icon).active{
    display: none;
}


.add-book-form{
    margin: 2rem;
}

/* //////////////////////////////// book details /////////////////////////////////// */


.book_title_div{
    border-bottom: 3px solid gray;
    border-top: 3px solid gray;
}

.book_title_div > h3{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 0;
}   

td{
    font-size: 1.3rem;
}

tr:last-child{
    border-bottom: none;
}

.wide-btn{
    width: 100%;
    margin-top: .7rem;
}


.book-img{
    width: 90%;
}

.review-box{
    
    box-shadow:0px 0px 7px rgba(81, 83, 84, .5);
    border-radius: .5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.bordered-box{
    border: 1px solid rgba(143, 143, 142, 0.5);
    box-shadow:0px 0px 7px rgba(81, 83, 84, .5);
    border-radius: .5rem;
    margin-bottom: 2rem;
    
}

.heading-div{
    border-bottom: 1px solid rgba(152, 187, 198, 0.5);
    margin-bottom: 3rem;
    
}

.row .col{
    padding: 0;
}

.add-book-form .col{
    padding: 0;
}

.row{
    margin-bottom: 0;
}



.collection .collection-item.avatar.book-avt{
    padding-left: 1.2rem;
    padding-bottom: 0;
  
}
 /* .collection .collection-item{
    padding: .7rem 1.2rem;
}  */



.profile-info-row{
    border-bottom: 1px solid rgba(164, 156, 156, 0.5);
    margin-bottom: 2rem;
    padding-bottom: 1.7rem;
}




.collection-item{
    display: none;
}




.collection-item-review{
    display: none;

}

.collection .collection-item-review{
    padding: .7rem 1.9rem;
    background-color: #fff;
    line-height: 1.5rem;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;

}

.collection .collection-item-review.avatar{
    min-height: 84px;
    position: relative;
}

.loadMoreReview{
    display: none;
}

.loadMoreBooks{
    display: none;
}



.addReadMore.showlesscontent .SecSec,
.addReadMore.showlesscontent .readLess {
    display: none;
}

.addReadMore.showmorecontent .readMore {
    display: none;
}

.addReadMore .readMore,
.addReadMore .readLess {
    font-weight: bold;
    margin-left: 2px;
    color: blue;
    cursor: pointer;
}

.addReadMoreWrapTxt.showmorecontent .SecSec,
.addReadMoreWrapTxt.showmorecontent .readLess {
    display: block;
}



  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  


/* //////////////////////////////// footer/////////////////////////////////// */  

.page-footer{
    background-color: #92a27e;
}





.container.not-found-pg{
    margin-top: 2rem;
    margin-bottom: 4rem;
}




/* //////////////////////////////// Ipad size /////////////////////////////////// */



@media screen and (max-width: 568px) {

h3{
   font-size: 2rem;
   padding: 0 1rem;
}

h5{
    font-size: 1.1rem;
    margin: 0;
    
}

h4{
    font-size: 1.4rem;
    
}



.header-box {
    background-position: right;
}


.ul-books{
    text-align: center;
}


.btn-small{
    font-size: .7rem;
    margin: 0;
    
}

.header-box > div{
    background-color: rgba(250, 250, 240, .4);
}

.search-form.input-field{
    position: relative;
    top: 9px;
    background-color: ivory;
    max-height: 40px;
}

.row .col .search-box {
    margin-left: 2rem;
}


.collection-bar{

    margin: 1rem;
    padding:.5rem;

}


.book-img-div{
    text-align: center;
}

#book-detail .row .col.s12{
    padding: 0 1.5rem 0 1.5rem;

}


.col.review-box{
    padding: 0 1.5rem 1.5rem 1.5rem;
    
}


.form .input-field{
    position: relative;
}

/* .form .input-field > label{
    position: unset;
    
} */

p.addReadMore {
    text-align: justify;
    padding: 0 1.1rem;
}


.card.small {
    width: 11.5rem;
    height: 25rem;
    margin: .7rem auto;
    }
    

        
.card .card-image > img{
    
    max-height: 14.71rem;
    max-width: 11.5rem;
    min-height: 14.71rem;
    min-width: 11.5rem;
}


.card .card-action{
    padding: .8rem 1rem;

}


.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
    margin-right: 0;
}

ul.collection-bar li a{
    font-size: 1rem;
}

.row .card.large{
margin-bottom: 2rem;
}

.card.large{
    height: 400px;
}

#xl-card{
    height: 600px;
}

span.badge{
    
    font-size: .9rem;
    padding: 0;
}

.modal-trigger{
    margin-left: 0.5rem;
}

.collection-item-review .row .col{
    padding: 0;
}

.collection-item-review .title{
    padding:0 1rem;
}

blockquote{
    margin-left: 1rem;
}

small.blue-text{
    padding-left: 1rem;
}

.add-book-btn{
    text-align: center;
}


.bordered-box{
    padding: 1rem
    !important;
   
}

.add-book-form .row .col.s12{
    width: 97%;
    margin-bottom: .8rem;
}


.add-book-form .row .col.s10{
    margin-bottom: .8rem;

}


.add-book-form .row{
    margin: 0;
}

.edit-profile-form{
    position: relative;
    left: .3rem
    !important;
    }
    
.edit-profile-form .center-align{
    position: relative;
    left: 1rem
    !important;
}

.review-box .input-field>label{
    position: unset;
}
} 


