@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=Shippori+Antique+B1&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Quicksand', sans-serif;
}

h3 {
    margin-top: 0;
    padding-top: 2.5rem;
}

h6{
    margin-top:0;
    font-weight: bold;
}

/* //////////////////////////////// Navbar and header box /////////////////////////////////// */
.nav-wrapper {
    background-color: #92a27e;
}


nav ul a {
    font-size: 1.2rem;
    font-family: 'Shippori Antique B1', sans-serif;
}


.header-box {
    min-height: 30vh;
    background-image: url(../images/b74860e4d6a3132672c01eb04ce9eb82.jpg);
    background-position: left;
    background-repeat: no-repeat;
    position: relative;
}


.search-form {
    position: absolute;
    top: 2.5rem;
    right: 3rem;
    width: 20%;
    border: 1px solid black;
    border-radius: 20px;
}


input[type=search]:not(.browser-default) {
    border-bottom: none;
    background-color: #fff;
    height: inherit;
}


::placeholder {
    text-align: center;
}


.fa-search {
    padding-right: 5px;
}


/* //////////////////////////////// Collection-bar /////////////////////////////////// */

ul.collection-bar li{
    display: inline;
    padding-left: 2em;
    font-size: 1.2rem;
}

ul.collection-bar li a{
    color: #fff;
    font-weight: bold;
}

ul.collection-bar{
    
    border: 1px solid rgb(232, 118, 57);
    border-radius: 15px;
    margin: 1.5em 4em 1.5em 4em;
    padding: 1em;
    background-color: rgb(232, 118, 57);
}

/* //////////////////////////////// Book cards /////////////////////////////////// */

.card .card-content{
    padding: 10px 24px;
}

.card.small {
width: 220px;
height: 450px;
margin: 0 auto;
}

.card .card-image > img{
    
 
    /* object-fit: cover; */
    max-height: 300px;
    max-width: 220px;
}

.card.small .card-image{
    max-height: 90%;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
    color: #000;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: blue;
    -webkit-transition: color .4s ease;
    transition: color .3 ease;
}

/* //////////////////////////////// Ipad size /////////////////////////////////// */

@media screen and (max-width: 991px) {}