@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=Shippori+Antique+B1&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Quicksand', sans-serif;
}


button, input, optgroup, select, textarea { 
 
    font: inherit;
    margin: 0px;
}


h3 {
    margin-top: 0;
    padding-top: 2.5rem;
}

h4{
    margin-bottom: 1.5rem;
}


h6{
    margin-top:0;
    font-weight: bold;
}

p{
    font-size: 1.2rem;

}


.edit-btn{
    margin-top:1rem;
}


.back-btn{
    font-size: 3rem;
    position: relative;
    top: 1rem;
    left: 2rem;
    background-color: transparent;
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
}


span.badge{
    margin-left: 0;
    font-size: 1.3rem;
    color: #000;
}

.back-btn:focus, .back-btn:hover{
    background-color: transparent;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.book-btn{
    margin-top: 1.5rem;
}

.btn-small{
    margin: .3rem;
}

/* //////////////////////////////// Navbar and header box /////////////////////////////////// */
.nav-wrapper {
    background-color: #92a27e;
}


nav ul a {
    font-size: 1.2rem;
    font-family: 'Shippori Antique B1', sans-serif;
}


.header-box {
    min-height: 30vh;
    background-image: url(../images/b74860e4d6a3132672c01eb04ce9eb82.jpg);
    background-position: left;
    background-repeat: no-repeat;
    position: relative;
    background-color: rgb(250, 250, 240);
}


.search-form {
    /* position: absolute;
    top: 2.5rem;
    right: 3rem; */
    width: 20%;
    border: 1px solid black;
    border-radius: 20px;
}


input[type=search]:not(.browser-default){
    border-bottom: none;
    background-color: #fff;
}

.search-form input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom: none;
    box-shadow: none;
}

.search-form input[type=text]:not(.browser-default){
    background-color:ivory;
    border-radius: 20px;
    height: 100%;
    width: 80%;
    font-size: inherit;
    padding-left: 1rem;
}
    



input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px ivory inset !important;
    -webkit-box-shadow: 0 0 0 30px ivory inset !important;
}


input:-internal-autofill-selected{
    background-color: ivory
    !important;
}

::placeholder {
    text-align: left;
    padding-left: .5rem;
}


/* .fa-search {
    padding-right: 5px;
    line-height: 3;
} */

nav .nav-wrapper i{
    line-height: inherit;
}

/* //////////////////////////////// Collection-bar /////////////////////////////////// */

ul.collection-bar li{
    display: inline-block;
}

/* The hover effect is borrowed from  [http://ianlunn.github.io/Hover/]*/
ul.collection-bar li a{
    color: #fff;
    font-weight: bold;
    padding-left: 2em;
    font-size: 1.2rem;
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
}


ul.collection-bar li a:hover,ul.collection-bar li a:active,ul.collection-bar li a:focus {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #000;
}


ul.collection-bar{
    
    border: 1px solid transparent;
    border-radius: 15px;
    margin: 1.5em 4em 1.5em 4em;
    padding: 1em;
    /* background-color: rgb(232, 118, 57); */
}
/* //////////////////////////////// Book cards /////////////////////////////////// */

.card .card-content{
    padding: 10px 24px;
}

.card.small {
width: 220px;
height: 450px;
margin: 10px auto;
}

.card .card-image > img{
    /* object-fit: cover; */
    max-height: 300px;
    max-width: 220px;
    min-height: 300px;
    min-width: 220px;
}

.card.small .card-image{
    max-height: 90%;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
    color: #000;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: blue;
    -webkit-transition: color .4s ease;
    transition: color .3 ease;
}


/* //////////////////////////////// forms /////////////////////////////////// */
.card.large .card-image.register-bg{
    max-height: 100%;
}

.edit-profile-form input[type=text]:not(.browser-default),
.edit-profile-form input[type=email]:not(.browser-default),
.edit-profile-form input[type=password]:not(.browser-default),
.add-book-form input[type=email]:not(.browser-default),
.add-book-form input[type=text]:not(.browser-default),
.add-book-form input[type=checkbox]:not(.browser-default)
{
    border: 1px solid gray;
    border-radius: 10px;
    height: 3rem;
    padding-left: .7rem;
    
    }
.search-form input[type=text]:not(.browser-default){
    border-bottom: none;
    position: relative;
    top: -8px;
}

.search-form.input-field{
    position: relative;
    top: 8px;
    background-color: ivory;
    max-height: 50px;
    
}

.search-form.input-field input::placeholder{
color: rgb(67, 67, 67);
}

.row .col .search-box{
    margin-left: 2.5rem;
}



.edit-profile-form .input-field .prefix ~ label{
    margin-left: 2.4rem;
    padding-left: .7rem;
    padding-top: .5rem;

}

textarea{
    height: 8rem;
    border: 1px solid gray;
    border-radius: 10px;
}    


.edit-profile-form .input-field .prefix ~ input{
    padding-left: .7rem;
}


.register-bg{
    width: 100%;
    height: 100%;
    background-image: url(../images/cacb57af3c6b8be1e5d206d203cee7b1.jpg);
    background-size:cover;
}

.form .input-field{
    margin-top: 0;
    margin-bottom: 0;
    background-color: #fff;
}


form > .row{
    margin: 1rem;
    
}

.form-error{
    color: tomato;
    padding-left: 2.3rem;
}


.input-field .prefix{
    font-size: 1.5rem;
    top: 1rem;
}


.btn-large i{
    font-size: 1.3rem;
    line-height: normal;
}

.flashes h4{
    line-height: 1;
    margin-bottom: 0;
    margin-top: 1.5;
    padding: 1rem;
    
}


.input-field>label:not(.label-icon).active{
    display: none;
}


.add-book-form{
    margin: 2rem;
}

/* //////////////////////////////// book details /////////////////////////////////// */


.book_title_div{
    border-bottom: 3px solid gray;
    border-top: 3px solid gray;
}

.book_title_div > h3{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 0;
}   

td{
    font-size: 1.3rem;
}

tr:last-child{
    border-bottom: none;
}

.wide-btn{
    width: 100%;
    margin-top: .7rem;
}


.book-img{
    width: 90%;
}

.review-box{
    border: 1px solid gray;
    border-radius: .5rem;
}

.heading-div{
    border-bottom: 1px solid gray;
    
}

.row .col{
    padding: 0;
}

.row{
    margin-bottom: 0;
}



.collection .collection-item.avatar.book-avt{
    padding-left: 1.2rem;
    padding-bottom: 0;
  
}

.collection .collection-item{
    padding: .7rem 1.2rem;
}



.profile-info-row{
    border-bottom: 1px solid gray;
}


/* .book-card{
    display: none;
} */

.collection-item{
    display: none;
}




.collection-item-review{
    display: none;

}

.collection .collection-item-review{
    padding: .7rem 1.2rem;
    background-color: #fff;
    line-height: 1.5rem;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;

}

.collection .collection-item-review.avatar{
    min-height: 84px;
    position: relative;
}

.loadMoreReview{
    display: none;
}

.loadMoreBooks{
    display: none;
}



.addReadMore.showlesscontent .SecSec,
.addReadMore.showlesscontent .readLess {
    display: none;
}

.addReadMore.showmorecontent .readMore {
    display: none;
}

.addReadMore .readMore,
.addReadMore .readLess {
    font-weight: bold;
    margin-left: 2px;
    color: blue;
    cursor: pointer;
}

.addReadMoreWrapTxt.showmorecontent .SecSec,
.addReadMoreWrapTxt.showmorecontent .readLess {
    display: block;
}



  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  

/* //////////////////////////////// Ipad size /////////////////////////////////// */

@media screen and (max-width: 991px) {}