<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}

    <title>Read And Recommend</title>
</head>

<body>

    <header>
        <div class="header-box center">
            <div class="header-content center">
                <h3 class="center-align">READ AND RECOMMEND</h3>
                <h5 class="center-align">Find yourself something worth reading<br>
                    and recommend it to others if you liked it!</h5>
            </div>
        </div>

        <nav>
            <!-- top navbar -->
            <div class="nav-wrapper row">
                <!-- <a href="{{ url_for('get_books') }}" class="brand-logo">Logo</a> -->
                <div class="col l5 s1 right">
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                    <ul class="hide-on-med-and-down right">
                        <li><a href="{{ url_for('get_books') }}">Home</a></li>
                        {% if session.user %}
                        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li><a href="{{ url_for('add_book') }}">Add A Book</a></li>
                        <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
                        {% else %}
                        <li><a href="{{ url_for('register') }}">Sign Up</a></li>
                        <li><a href="{{ url_for('login') }}">Sign In</a></li>
                        {% endif %}
                    </ul>
                </div>
                {% block search %}
                {% endblock %}
            </div>

        </nav>


        <!-- moile sidenav -->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('get_books') }}">Home</a></li>
            {% if session.user %}
            <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
            <li><a href="{{ url_for('add_book') }}">Add A Book</a></li>
            <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
            {% else %}
            <li><a href="{{ url_for('register') }}">Sign Up</a></li>
            <li><a href="{{ url_for('login') }}">Sign In</a></li>
            {% endif %}
        </ul>
    </header>


    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes light-green lighten-4 center">
            <h4 class="center-align">{{ message }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>

    {% block content%}
    {% endblock %}





    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About</h5>
                    <p class="grey-text text-lighten-4">Read and Recommend was created by Maryam Abdolbeigi.<br>
                        Born from the need to find a worth-reading book and share with others.<br>
                        The website's goal is to help book lovers to find their next-to-be-read book from the website.
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        {% block category %}
                        {% endblock %}
                        {% if session.user %}
                        <li><a class="white-text" href="{{ url_for('add_book') }}">Add A Book</a></li>
                        <li><a class="white-text" href="{{ url_for('logout') }}">Sign Out</a></li>
                        {% else %}
                        <li><a class="white-text" href="{{ url_for('register') }}">Sign Up</a></li>
                        <li><a class="white-text" href="{{ url_for('login') }}">Sign In</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                <!-- the dynamic copyright year is learned form (https://stackoverflow.com/questions/43714006/how-can-one-create-a-dynamic-copyright-date-without-document-write-in-javascri) -->
                <p>Copyright &copy; <span id="year"> </span> Read and Recommend All Rights Reserved</p>
            </div>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    {% block scripts %}
    {% endblock %}
</body>

</html>