{% extends "base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}

<div class="row">
    <div class="col s12">
        <!-- The history back button is learned form https://css-tricks.com/snippets/javascript/go-back-button/ and w3school -->
        <button class="back-btn" type="button" onclick="history.back()"><i
                class="fas fa-arrow-alt-circle-left"></i></button>
        <div class="row">
            <div class="col s4 offset-m1 ">
                <img src="{{ book_details.img_url  }}" alt="cover image" class="responsive-img book-img">
            </div>
            <div class="col s6">
                <div class="book_title_div center-align">
                    {% if book_details.best_seller  %}
                    <span class="badge left orange lighten-1"><i class="fas fa-tag"></i> Best Seller</span>
                    {% endif %}
                    <h4>{{ book_details.title|title }}</h4>
                </div>
                <table>
                    <tbody>
                        <tr>
                            <td>Author</td>
                            <td class="right">{{ book_details.author }}</td>
                        </tr>
                        <tr>
                            <td>Publisher:</td>
                            <td class="right">{{ book_details.publisher }}</td>
                        </tr>
                        <tr>
                            <td>Pages:</td>
                            <td class="right">{{ book_details.pages }}</td>
                        </tr>
                        <td>Price:</td>
                        <td class="right">{{ book_details.price }} €</td>
                        </tr>
                        <tr>
                            <td>Created By:</td>
                            <td class="right">{{ book_details.added_by }}</td>
                        </tr>
                        <tr>
                    </tbody>
                </table>
                <div class="center">
                    <a class="waves-effect btn-large center-align wide-btn light-green darken-3 hoverable"
                        target="blank" href="{{ book_details.shopping_link }}">Go Get It</a>
                </div>
                {% if session.user|lower == book_details.added_by|lower %}
                <div class="book-btn">
                    <button class="btn-small red" onclick="document.getElementById('id01').style.display='block'">Delete</button>

                    <!-- The delete confirmation modal has been learned from (https://www.w3schools.com/howto/howto_css_delete_modal.asp) -->
                    <div id="id01" class="modal">
                        <span onclick="document.getElementById('id01').style.display='none'" class="close"
                            title="Close Modal">&times;</span>
                        <form class="modal-content" action="{{ url_for('delete_book', book_id=book_details._id) }}">
                            <div class="container">
                                <h1>Delete Book</h1>
                                <p>Are you sure you want to delete "{{ book_details.title|title }}"?</p>

                                <div class="clearfix">
                                <a class="btn-small red" href="{{ url_for('get_book', book_id=book_details._id) }}">Cancel</a>
                                <a class="btn-small green" href="{{ url_for('delete_book', book_id=book_details._id) }}">Yes</a>                                </div>
                            </div>
                        </form>
                    </div>
                    <!--  -->
                    <a class="btn-small light-blue" href="{{ url_for('edit_book', book_id=book_details._id) }}">Edit</a>
                </div>
                {% endif %}
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col s10 offset-m1">
        <h4 class="center-align"> About "{{ book_details.title|title }}"</h4>
        <p class="addReadMore showlesscontent">{{ book_details.description }}</p>
    </div>
</div>


<div class="row">


    <div class="col s10 offset-m1 review-box green lighten-5">
        <div class="heading-div">
            <h4 class="center-align">Tell Us About This Book</h4>
        </div>
        <form class="form" action="{{ url_for('get_book', book_id=book_details._id) }}" method="POST">
            <div class="row">
                <div class="input-field col s8 offset-m2">
                    {{ render_field(review_form.review) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4 offset-m4">
                    <button type="submit" class="col s12 btn-large light-green darken-3">Submit
                        <i class="far fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% if reviews_length > 0  %}

<div class="row">
    <div class="col s10 offset-m1">
        <ul class="collection">
            {% for review in reviews %}
            <li class="collection-item-review avatar">
                <div class="row">
                    <div class="col s1 valign-wrapper">
                        <img height="80" width="80" class="responsive-img circle"
                            src="{{ url_for('static', filename='images/images.jpeg') }}" alt="User Profile Image">
                    </div>
                    <div class="col s11">
                        <h6 class="title"> Review By: {{ review.username }}</h6>
                        <p>{{ review.review }}</p>
                    </div>
                </div>
            </li>
            {% endfor %}

        </ul>
        <div class="center">
            <button class="btn-large center red loadMoreReview">Load More</button>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}