{% extends "base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}



<div class="row">
    <div class="col s12 m4">
        <div class="row">
            <div class="col s6 offset-s3 offset-m6 valign-wrapper">
                <img src="{{ url_for('static',filename='images/images.jpeg') }}" alt="Profile Picture" width="100"
                    height="100" class="responsive-img circle">
            </div>
        </div>
    </div>




    <form class="col s9 offset-s1 m5 offset-m1 form edit-profile-form" method="POST"
        action="{{ url_for('edit_profile', user_id=user._id) }}">
         <!-- username -->
         <div class="row">
            <div class="input-field col s12">
                <i class="far fa-user prefix small-icon grey-text"></i>
                {{ render_field(edit_form.username, value= user.username  ) }}

            </div>
        </div>

        <!-- email -->
        <div class="row">
            <div class="input-field col s12">
                <i class="far fa-envelope prefix small-icon grey-text"></i>
                {{ render_field(edit_form.email, value= user.email  ) }}

            </div>
        </div>
        <!-- location -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-location-arrow prefix small-icon grey-text"></i>
                {{ render_field(edit_form.location, value= user.location  ) }}

            </div>
        </div>
        <!-- submit btn -->
        <div class="row">
            <div class="col s6 center">
                <a href="{{ url_for('profile', username=user.username) }}" class="btn-large red lighten-1">Cancel <i
                        class="fas fa-times"></i>
                </a>
            </div>
            <div class="col s6 center">
                <button type="submit" class="btn-large green lighten-1">Save <i
                        class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>

    </form>
</div>




{% endblock %}