{% extends "base.html" %}

{% block search %}

    <div class="col s8">
        <form class="row" action="{{ url_for('search') }}" method="post">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s5 search-box search-form" >
                        <label for="query"><i class="fas fa-search prefix"></i></label>
                        <input id="query" name="query" type="text" placeholder="Search by Title or Author" required>
                        
                    </div>
                    <div class="col s3">
                        <button type="submit" class="btn-small btn-floating green "><i class="fas fa-search"></i></button>
                        <a href="{{ url_for('get_books') }}" class="btn-small btn-floating red"><i class="fas fa-redo"></i></a>
                        
                    </div>
                </div>
            </div>
        </form>
    </div>


{% endblock %}


{% block content %}

<div class="row">
    <div class="col s12">
        <ul class="collection-bar orange darken-2 center">
            <li><a href="{{ url_for('get_books') }}">ALL</a></li>
            {% for category in categories | sort(attribute='category_name') %}
            <li><a
                    href="{{ url_for('get_categories', category_name=category.category_name) }}">{{ category.category_name.upper() }}</a>
            </li>
            {% endfor %}
            <li><a href="{{ url_for('best_seller_books') }}">BEST SELLERS</a></li>
        </ul>
    </div>
</div>


<div class="row">
    {% for book in category_book %}
    <div class="col s2 book-card">
        <div class="card small hoverable">
            <div class="card-image">
                <img height="300" width="220" class="responsive-img" src="{{ book.img_url }}" alt="Book Cover Image">
            </div>
            <div class="card-content">
                <h6>{{ book.title|title }}</h6>
                <p>By {{ book.author }}</p>
            </div>
            <div class="card-action">
                <a href="{{ url_for('get_book', book_id=book._id) }}">learn More</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% if books_length > 0 %}
<div class="row">
    {% for book in books %}
    <div class="col s2 book-card">
        <div class="card small hoverable">
            <div class="card-image">
                <img height="300" width="220" class="responsive-img" src="{{ book.img_url }}" alt="Book Cover Image">
            </div>
            <div class="card-content">
                <h6>{{ book.title|title }}</h6>
                <p>By {{ book.author }}</p>
            </div>
            <div class="card-action">
                <a href="{{ url_for('get_book', book_id=book._id) }}">learn More</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<h3 class="center red-text">No Results Found</h3>
{% endif %}

<div class="row">
    {% for book in best_sellers %}
    <div class="col s2 book-card">
        <div class="card small hoverable">
            <div class="card-image">
                <img height="300" width="220" class="responsive-img" src="{{ book.img_url }}" alt="Book Cover Image">
            </div>
            <div class="card-content">
                <h6>{{ book.title|title }}</h6>
                <p>By {{ book.author }}</p>
            </div>
            <div class="card-action">
                <a href="{{ url_for('get_book', book_id=book._id) }}">learn More</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- <div class="center">
    <button class="btn-large center red loadMore">Load More</button>
</div> -->


<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About</h5>
                <p class="grey-text text-lighten-4">Read and Recommend was created by Maryam Abdolbeigi.<br>
                     Born from the need to find a worth-reading book and share with others.<br>
                    The website's goal is to help book lovers to find their next-to-be-read book from the website.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    {% for category in categories | sort(attribute='category_name') %}
                    <li><a class="white-text" href="{{ url_for('get_categories', category_name=category.category_name) }}">{{ category.category_name.upper() }}</a>
                    </li>
                    {% endfor %}
                    <li><a class="white-text" href="{{ url_for('best_seller_books') }}">BEST SELLERS</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            <!-- the dynamic copyright year is learned form (https://stackoverflow.com/questions/43714006/how-can-one-create-a-dynamic-copyright-date-without-document-write-in-javascri) -->
            <p>Copyright &copy; <span id="year"> </span> Read and Recommend All Rights Reserved</p>
        </div>
    </div>
</footer>


{% endblock %}