{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12">
        <ul class="collection-bar orange darken-2 center">
            <li><a href="{{ url_for('get_books') }}">ALL</a></li>
            {% for category in categories | sort(attribute='category_name') %}
            <li><a
                    href="{{ url_for('get_categories', category_name=category.category_name) }}">{{ category.category_name.upper() }}</a>
            </li>
            {% endfor %}
            <li><a href="{{ url_for('best_seller_books') }}">BEST SELLERS</a></li>
        </ul>
    </div>
</div>

<div class="row">
    {% for book in category_book %}
    <div class="col s2 book-card">
        <div class="card small hoverable">
            <div class="card-image">
                <img height="300" width="220" class="responsive-img" src="{{ book.img_url }}" alt="Book Cover Image">
            </div>
            <div class="card-content">
                <h6>{{ book.title }}</h6>
                <p>By {{ book.author }}</p>
            </div>
            <div class="card-action">
                <a href="{{ url_for('get_book', book_title=book.title) }}">learn More</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row">
    {% for book in books %}
    <div class="col s2 book-card">
        <div class="card small hoverable">
            <div class="card-image">
                <img height="300" width="220" class="responsive-img" src="{{ book.img_url }}" alt="Book Cover Image">
            </div>
            <div class="card-content">
                <h6>{{ book.title }}</h6>
                <p>By {{ book.author }}</p>
            </div>
            <div class="card-action">
                <a href="{{ url_for('get_book', book_title=book.title) }}">learn More</a>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="center">
        <button class="btn-large center red loadMore">Load More</button>
    </div>
</div>

<div class="row">
    {% for book in best_sellers %}
    <div class="col s2 book-card">
        <div class="card small hoverable">
            <div class="card-image">
                <img height="300" width="220" class="responsive-img" src="{{ book.img_url }}" alt="Book Cover Image">
            </div>
            <div class="card-content">
                <h6>{{ book.title }}</h6>
                <p>By {{ book.author }}</p>
            </div>
            <div class="card-action">
                <a href="{{ url_for('get_book', book_title=book.title) }}">learn More</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}